
  *{
    cursor:pointer;
  }
  .parent{
    width: 85%;
    margin: auto;
    display: flex;
    gap: 20px;
}

.parent>div{
    /* margin: auto; */
    height: fit-content
}

#child-1{
    width: fit-content;
}

#child-1 div{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    margin-bottom: 10px;
    padding-bottom: 2px;
    cursor: pointer;
}

#child-1 div h2,p{
    margin-left: 10px;
}

#child-2{
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    margin-top: 70px;
}

#child-2>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
}

#child-2>div img{
    width: 130px;
    height: 80px;
}

#child-3{
    width: 390px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #f8f8f8;
}

#child-3 div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px 20px 0px 0px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
}

#child-3 div img{
    width: 120px;
}


#one{
    width: 35%;
}

 #two>h2{
    width: fit-content;
    border-bottom: 3px solid red;
    text-transform: uppercase;
}

#one>h2{
    width: fit-content;
    border-bottom: 3px solid red;
    text-transform: uppercase;
}

#last{
    background-color: #f8f8f8;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#last>h2{
    width: fit-content;
    text-transform: uppercase;
    border-bottom: 3px solid red;
    margin-left: 30px;
}

#asia{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

#asia div{
    width: 250px;
    font-weight: bold;
    font-family: sans-serif;
}

#asia div img{
    width: 100%;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#asia-head{
    /* margin-top: 50px; */
    margin-left: 100px;
    width: fit-content;
    text-transform: uppercase;
    border-bottom: 3px solid red;
}

#america{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

#america div{
    width: 250px;
    font-weight: bold;
    font-family: sans-serif;
}

#america div img{
    width: 100%;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


#bolly{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

#bolly div{
    width: 250px;
    font-weight: bold;
    font-family: sans-serif;
}

#bolly div img{
    width: 100%;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#holly{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#holly div{
    width: 250px;
    font-weight: bold;
    font-family: sans-serif;
}

#holly div img{
    width: 100%;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#tele{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

#tele div{
    width: 250px;
    font-weight: bold;
    font-family: sans-serif;
}

#tele div img{
    width: 100%;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#music{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

#music div{
    width: 250px;
    font-weight: bold;
    font-family: sans-serif;
  
}

#music div img{
    width: 100%;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}




#aus{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

#aus div{
    width: 250px;
    font-weight: bold;
    font-family: sans-serif;
}

#aus div img{
    width: 100%;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


#mid-east{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

#mid-east div{
    width: 250px;
    font-weight: bold;
    font-family: sans-serif;
}

#mid-east div img{
    width: 100%;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


#line{
    margin: auto;
    margin-top: 30px;
    width: 85%;
    height: 2px;
    border-top: 0.5px solid grey;
    border-bottom: 2px solid grey;
}


#style {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    
}

.life{
    width: 250px;
    font-weight: bold;
    font-family: sans-serif;
}

.life>img{
    width: 10%;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#footer{
    height: 140px;
    background-color: #E6E6E6;
}
#footer>div:nth-child(1){
    display: flex;
    width: 50%;
    margin: auto;
    height: 60px;
    padding-top: 20px;
    margin-bottom: 10px;
}
#footer input{
    width: 85%;
    height: 85%;
}
#footer button{
    width: 15%;
    height: 85%;
    cursor: pointer;
}
#buttons{
    display: flex;
    margin: auto;
    width: 100%;
    font-size: 10px;
    padding: 5px 30px;
    justify-content: space-around;
    color: rgb(74, 73, 73);

}
#buttons>h3:hover{
    color: black;
    cursor: pointer;
    
}