*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#top{
    display: flex;
    width: 85%;
    margin: auto;
    
    height: 140vh;
    margin-top: 20px;
    margin-bottom: 20px;
}
#lifestyle{
    flex: 6;
    
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
#mid{
    flex: 4;
    
    height: 100%;
    width: 100%;
}
#last{
    flex: 5;
    height: 100%;
    width: 100%;
}
#lifestyle>div{
    width: 100%;
    height: 47.3%;
    border:1px solid rgb(192, 186, 186);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#lifestyle>h2{
    text-decoration: 3px underline red ;
    padding: 10px;
    font-family: 'Poppins', sans-serif;

}
#lifestyle img{
    width: 100%;
    height: 70%;
}
#lifestyle h3,p{
    margin-bottom: 10px;
    padding: 0px 10px;
    color: rgb(53, 51, 51);
}
#mid{
    padding-top: 47px;
}
#mid>div{
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px 0px;
    border: 1px solid rgb(200, 196, 196);
}
#mid img{
    height: 100%;
    width: 50%;
}

#last>h2{
    text-decoration: 3px underline red ;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}
#last>div{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    height: 9.5%;
    padding-left: 10px;
    display: flex;
    border: 1px solid rgb(200, 198, 198);
    color: rgb(53, 51, 51);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#last img{
    width: 30%;
    height: 100%;
}
#last h3{
    padding-top: 10px;
}
#topsame{
    width: 85%;
    margin: auto;
    display: flex;
    padding: 5px 10px;
    background-color: #E6E6E6;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 50px;

    
}
#topGallery{
    flex: 2;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#moregallery{
    flex: 1;

    padding: 10px 0px 7px 10px;
}
#topGallery>h2{
    margin-bottom: 15px;
    padding: 10px 10px 0px 10px;
    text-decoration: 3px underline red ;
}
#topGallery>img{
    width: 100%;
    bottom: 0;
}
#moregallery>div{
    display: flex;
    padding: 5px 0px 5px 0px;
    width: 60px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
    height: 24%;

}
#moregallery>div:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5px;
}
#moregallery img{
    width: 150px;
}
#moregallery>h2{
    padding: 0px 0px 3px 0px;
    text-decoration: 3px underline red ;
}
#moregallery p{
    padding: 15px;
}
hr{
    
    width: 85%;
    border: 1px solid grey;
    margin: auto;
    margin-bottom: 20px;
}
#fashion{
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
}
#fashion>h2{
    text-decoration: 3px underline red ;
    padding: 10px;
}
#enter{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding:1px 300px 0px 30px;
    color: rgb(62, 51, 51);
    font-size: 16px;
}
#enter img{
    width: 100%;
}
#enter>div{
    padding: 10px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#health{
    width: 85%;
    margin: auto;
    
    margin-bottom: 30px;
    
}

#health>h2{
    text-decoration: 3px underline red ;
    padding: 10px;
}
#healthfirst{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding:30px;
    color: rgb(62, 51, 51);
    font-size: 16px;
}
#healthfirst img{
    width: 100%;
}
#healthfirst>div{
    padding: 10px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#healthsecond{
    display: flex;
    padding: 0px 40px;
}
#healthsecond>div{
    height: 90px;
    display: flex;
    font-size: 14px;
    padding-right: 20px;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#healthsecond img{
    height: 100%;
    padding: 5px;
    border-radius: 10px;
}
#culture{
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
}
#culture>h2{
    text-decoration: 3px underline red ;
    padding: 10px;
}
#enterone{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding:1px 300px 0px 30px;
    color: rgb(62, 51, 51);
    font-size: 16px;
}
#enterone img{
    width: 100%;
}
#enterone>div{
    padding: 10px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#food{
    width: 85%;
    margin: auto;
    margin-bottom: 30px;
    
}

#food>h2{
    text-decoration: 3px underline red ;
    padding: 10px;
}
#foodfirst{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding:30px;
    color: rgb(62, 51, 51);
    font-size: 16px;
}
#foodfirst img{
    width: 100%;
}
#foodfirst>div{
    padding: 10px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#foodsecond{
    display: flex;
    padding: 0px 40px;
}
#foodsecond>div{
    height: 90px;
    display: flex;
    font-size: 14px;
    padding-right: 20px;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#foodsecond img{
    height: 100%;
    padding: 5px;
    border-radius: 10px;
}
#relationship{
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
}
#relationship>h2{
    text-decoration: 3px underline red ;
    padding: 10px;
}
#entertwo{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding:1px 300px 0px 30px;
    color: rgb(62, 51, 51);
    font-size: 16px;
}
#entertwo img{
    width: 100%;
}
#entertwo>div{
    padding: 10px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#envo{
    width: 85%;
    margin: auto;
    margin-bottom: 60px;
    
}

#envo>h2{
    text-decoration: 3px underline red ;
    padding: 10px;
}
#envofirst{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding:30px;
    color: rgb(62, 51, 51);
    font-size: 16px;
}
#envofirst img{
    width: 100%;
}
#envofirst>div{
    padding: 10px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#envosecond{
    display: flex;
    padding: 0px 40px;
}
#envosecond>div{
    height: 90px;
    display: flex;
    font-size: 14px;
    padding-right: 20px;
    align-items: center;
    
}
#envosecond h3{
    margin-top: 40px;
}
#envosecond img{
    height: 100%;
    padding: 5px;
    border-radius: 10px;
}
#book{
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
}
#book>h2{
    text-decoration: 3px underline red ;
    padding: 10px;
}
#enterthree{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding:1px 300px 0px 30px;
    color: rgb(62, 51, 51);
    font-size: 16px;
}
#enterthree img{
    width: 100%;
}
#enterthree>div{
    padding: 10px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#travel{
    width: 85%;
    margin: auto;
    margin-bottom: 60px;
    
}

#travel>h2{
    text-decoration: 3px underline red ;
    padding: 10px;
}
#travelfirst{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding:30px;
    color: rgb(62, 51, 51);
    font-size: 16px;
}
#travelfirst img{
    width: 100%;
}
#travelfirst>div{
    padding: 10px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#travelsecond{
    display: flex;
    padding: 0px 40px;
}
#travelsecond>div{
    height: 90px;
    display: flex;
    font-size: 14px;
    padding-right: 20px;
    align-items: center;
    
}

#travelsecond img{
    height: 100%;
    padding: 5px;
    border-radius: 10px;
}
#viral{
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
}
#viral>h2{
    text-decoration: 3px underline red ;
    padding: 10px;
}
#enterviral{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding:1px 300px 0px 30px;
    color: rgb(62, 51, 51);
    font-size: 16px;
}
#enterviral img{
    width: 100%;
}
#enterviral>div{
    padding: 10px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#focus{
    width: 85%;
    margin: auto;
    margin-bottom: 60px;
    
}

#focus>h2{
    text-decoration: 3px underline red ;
    padding: 10px;
}
#focusfirst{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding:30px;
    color: rgb(62, 51, 51);
    font-size: 16px;
}
#focusfirst img{
    width: 100%;
}
#focusfirst>div{
    padding: 10px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#focussecond{
    display: flex;
    padding: 0px 40px;
}
#focussecond>div{
    height: 90px;
    display: flex;
    font-size: 14px;
    padding-right: 20px;
    align-items: center;
    
}

#focussecond img{
    height: 100%;
    padding: 5px;
    border-radius: 10px;
}


#footer{
    height: 140px;
    background-color: #E6E6E6;
}
#footer>div:nth-child(1){
    display: flex;
    width: 50%;
    margin: auto;
    height: 60px;
    padding-top: 20px;
    margin-bottom: 10px;
}
#footer input{
    width: 85%;
    height: 85%;
}
#footer button{
    width: 15%;
    height: 85%;
    cursor: pointer;
}
#buttons{
    display: flex;
    margin: auto;
    width: 100%;
    font-size: 10px;
    padding: 5px 30px;
    justify-content: space-around;
    color: rgb(74, 73, 73);

}
#buttons>h3:hover{
    color: black;
    cursor: pointer;
    
}

