*{
    font-family: 'Open Sans',sans-serif; 
   
}
a{
    text-decoration: none;
}

#container{
      display:flex;
        background-color: black;  
      /* height:45px;  */
}
#section1{
    display:flex;
     width:30%; 
     /* height:50px; */
     background-color: black;
     gap:5px;
}
#section1 img{
      width:12%;
      margin-left:87%;
      margin-top:5%;
    
}
#section1 p {
     margin-bottom:0px;
     /* font-family: 'Open Sans',sans-serif; */
     font-weight:bold; 
     color:white;
    
}

#section2 {
      width:10%;
      /* height:50px; */
      /* ?gap:10px; */
      margin-left:0%;
      background-color: black;
}
#section2 img {
      width:15%; 
      /* height:50px; */
      margin-left:3%;
      margin-top:8%;
      background: none;

}

#section3{
      width:50%;
      /* height:50px; */
      display:flex;
      background-color: black;
      margin-left:5%;
}
#section3 img{
     width:8%;
     margin-top:7%;
     margin-left:90%;
}
#section3 p{
      color:white;
      font-weight:bold; 
}