* {
    font-family: 'Open Sans', sans-serif;

}

a {
    text-decoration: none;
}

#containers {
    display: flex;
    background-color: black;
    /* height:45px;  */
    align-content: center;
}

#section1 {
    display: flex;
    width: 40%;
    /* height:50px; */
    background-color: black;
    gap: 5px;
}

#section1 img {
    width: 12%;
    margin-left: 87%;
    margin-top: 5%;

}

#section1 p {
    margin-bottom: 0px;
    /* font-family: 'Open Sans',sans-serif; */
    font-weight: bold;
    color: white;

}

#section2 {
    width: 10%;
    /* height:50px; */
    /* ?gap:10px; */
    margin-left: 0%;
    background-color: black;
    margin-top: 1%;
}

#section2 img {
    width: 15%;
    /* height:50px; */
    margin-left: 3%;

    background: none;

}

#section3 {
    width: 60%;
    /* height:50px; */
    display: flex;
    background-color: black;
    margin-left: 5%;
}

#section3 img {
    width: 8%;
    margin-top: 7%;
    margin-left: 90%;
}

#section3 p {
    color: white;
    font-weight: bold;
}



#title img {
    width: 20%;
    margin-left: 39%;
    margin-top: 1%;
}

#title p {
    margin-left: 36%;
    font-weight: 550;
    color: #383838;
}

.flex {
    border-top: 3px solid #000;
    border-bottom: 1px solid #ADADAD;
    width: 80%;
    margin: auto;

    height: 40px;
    /* border:1px solid teal; */
    /* margin-bottom: 5%; */
}

.flex {
    display: flex;
    gap: 2%;
    font-size: 1.2em;
    /* height:40px; */
}

.flex img {
    width: 2%;
    height: 20px;
    margin-top: 0.5%;

}

.flex>a {
    color: #383838;
    /* margin-bottom:5%; */
    margin-top: -1%
}



.flex ul li a {
    color: #000;
    font-size: 1.1em;
    /* padding: 10px 10px; */
    /* margin-top:-10%; */



}

.flex>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

li a {
    color: white;
    text-decoration: none;
}

.flex ul li a:hover {
    color: red;
}

.flex ul li:hover>ul>li>a {
    color: black;
    font-size: 20px;
    /* font-weight: 500; */
    padding: 3px 15px;
    font-family: 'Open Sans', sans-serif;

}

.flex ul li:hover>ul>li>a:hover {
    color: #8a3ffc;
    background-color: rgb(230, 230, 230);

}

.flex ul li {
    display: inline-block;
}

/* .flex ul li a {
      font-family: 'Open Sans',sans-serif; 
      
   
  } */

.flex ul li a:hover {
    color: #8a3ffc;

}

.flex ul li a {
    display: block;
    padding: 0 15px;
    line-height: 30px;
    font-size: 14px;
    transition: .5s;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.flex ul ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.flex ul li:hover>ul>li>a {
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 15px;


}

.flex ul li:hover>ul>li>a:hover {
    color: #8a3ffc;
    background-color: rgb(230, 230, 230);
}

.flex ul li:hover>ul {
    top: 50px;
    opacity: 1;
    visibility: visible;
    transition: .2s linear;
    background-color: white;
    margin-left: 15px;
    border-radius: 10px;
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 2;
}

.flex ul ul li {
    display: list-item;
    position: relative;
    border-top: none;
}

#more {

    width: 5%;
    margin-top: -0.8em;
    ;

}