* {
    font-family: 'Open Sans', sans-serif;

}

a {
    text-decoration: none;
}

#containers {
    display: flex;
    background-color: black;
    /* height:50px;  */
    align-content: center;
    position:fixed;
     top:0;
    /* border: 1px solid red; */
}

#section1 {
    width:20%;
    /* border: 1px solid violet; */
    margin-left: 7%;
    display: flex;
    display: grid;
    grid-template-columns: 15% 85%;
    gap: 5px;
    align-items: center;

}
#section1 img {
    width: 100%;
}

#section1 p {
    /* font-family: 'Open Sans',sans-serif; */
    font-weight: bold;
    color: white;
    
}

#section2 {
    width: 10%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-left: 0%;
    /* border: 1px solid red; */
    align-items: center; 
}
#section2 img {
    width: 80%;
}
#section3 {
    width: 40%;
    display: flex;
    /* border: 1px solid red */
    display: grid;
    grid-template-columns: 3% 97%;
    gap: 10px;
    align-items: center;
    margin-left: 20%;
}

#section3 img {
    width: 100%;
}

#section3 p {
    color: white;
    font-weight: bold;
}

  #title{
    margin-top:3%;
  }

#title img {
    width: 20%;
    margin-left: 39%;
    margin-top: 1%;
}

#title p {
    margin-left: 36%;
    font-weight: 550;
    color: #383838;
}

.flex {
    border-top: 3px solid #000;
    border-bottom: 1px solid #ADADAD;
    width: 85%;
    margin: auto;
    margin-top:1%;
    /* height: 40px; */
    /* border:1px solid teal; */
    /* margin-bottom: 5%; */
    align-items: center;
}

.flex {
    display: flex;
    gap: 2.5%;
    font-size: 1.2em;
    /* height:40px; */
}

.flex img {
    width: 2%;
    height: 20px;
    /* margin-top: 2%; */

}

.flex>a {
    color: #383838;
    /* margin-bottom:5%; */
   /* justify-content: center;
   align-items: center; */
}

.flex>a:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: red;
}


.flex ul li a {
    color: #000;
    font-size: 1.1em;
    /* padding: 10px 10px; */
    /* margin-top:-10%; */
}

.flex>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

li a {
    color: white;
    text-decoration: none;
}

.flex ul li a:hover {
    color: red;
}

.flex ul li:hover>ul>li>a:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.flex ul li {
    display: inline-block;
}

/* .flex ul li a {
      font-family: 'Open Sans',sans-serif; 
      
   
  } */

.flex ul li a:hover {
    color: #8a3ffc;

}

.flex ul li a {
    display: block;
    padding: 0 15px;
    line-height: 30px;
    font-size: 14px;
    transition: .5s;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.flex ul ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.flex ul li:hover>ul>li>a {
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 15px;


}

.flex ul li:hover>ul>li>a:hover {
    color: #8a3ffc;
    background-color: rgb(230, 230, 230);
}

.flex ul li:hover>ul {
    top: 40px;
    opacity: 1;
    visibility: visible;
    transition: .2s linear;
    background-color: white;
    margin-left: 15px;
    border-radius: 10px;
    width: 200px;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    z-index: 2;
}

.flex ul ul li {
    /* display: list-item; */
    position: relative;
    border-top: none;
}

#more {
    position: relative;
    right:0%;
    z-index: 1000;

}